/node_modules
/app/node_modules
/app/dist
/app/build
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
/.umi
/.umi-production
/.umi-test
/dist
/docs/node_modules
/docs/.vitepress/dist
/docs/.vitepress/cache
/.mfsu
#/.vscode
.swc
/backup
